.tokens-grid {
  width:100%;
  font-family:sans-serif;
  color:#fff;
  border-collapse: collapse;
}

.tokens-grid thead th {
  padding: 0.75rem 1rem;
  text-align: left;
}

.tokens-grid tbody td {
  padding: 0.75rem 1rem;
  color:#ccc;  
}

.tokens-grid tbody td:first-of-type {
  border-top-right-radius:4px;
  border-bottom-left-radius:4px;
}

.tokens-grid tbody td:last-of-type {
  border-top-right-radius:4px;
  border-bottom-left-radius:4px;
}

.tokens-grid tbody tr:nth-last-of-type(even) td {
  background-color: #444;
}